[Unit]
Description=Mount unit for gnome-characters, revision 317
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-characters_317.snap
Where=/snap/gnome-characters/317
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
