[Unit]
Description=Mount unit for gnome-logs, revision 73
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-logs_73.snap
Where=/snap/gnome-logs/73
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
