[Unit]
Description=Mount unit for gnome-calculator, revision 501
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-calculator_501.snap
Where=/snap/gnome-calculator/501
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
