[Unit]
Description=Mount unit for core18, revision 1098
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core18_1098.snap
Where=/snap/core18/1098
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
